In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import psycopg2


# psycopg2.connect('postgresql://newuser:ladyjossy20@localhost:5432/database')

In [3]:
conn = psycopg2.connect(
    host="localhost",
    port=5432,
    user="jossy",
    password="testing",
    database="hotels"
)

In [4]:
create_table1 = """
    CREATE TABLE metrics_table(
    id SERIAL PRIMARY KEY,
    hotel_name VARCHAR(50),
    currency VARCHAR(2),
    price INTEGER,
    country VARCHAR(4),
    city VARCHAR(15),
    total_rating FLOAT,
    rating_count INTEGER,
    hotel_stars INTEGER,
    beach BOOLEAN,
    pool BOOLEAN,
    wifi BOOLEAN,
    gym BOOLEAN,
    spa BOOLEAN,
    bars BOOLEAN,
    restaurant BOOLEAN
)
"""

In [5]:
create_table2 = """
    CREATE TABLE info_table(
        id SERIAL PRIMARY KEY,
        hotel_name VARCHAR(50),
        contact VARCHAR(15),
        website_url VARCHAR(50),
        image VARCHAR(50),
        free_parking BOOLEAN,
        kid_friendly BOOLEAN,
        airport_shuttle BOOLEAN,
        room_service BOOLEAN,
        business_center BOOLEAN
    )
"""

In [6]:
create_table3 = """
    CREATE TABLE reviews_table(
        id SERIAL PRIMARY KEY,
        hotel_name VARCHAR(50),
        date VARCHAR(15),
        text VARCHAR(50),
        food_rating VARCHAR(50),
        service_rating BOOLEAN,
        aesthetics_rating BOOLEAN,
        final_rating BOOLEAN
    )
"""

In [7]:
# cursor = conn.cursor()
# # cursor.execute(create_table1)
# cursor.execute(create_table2)
# cursor.execute(create_table3)

In [8]:
from apify_client import ApifyClient
import json

def collect_data(cities):
    client = ApifyClient(
        token='apify_api_BdgKVIBQfeQk9rBpUdoOlNhBG7484q15CTd0')
    input_data = {
                "searchStringsArray": cities,
                "maxCrawledPlacesPerSearch": 50,
                "language": "en",
                "maxImages": 10,
                "onlyDataFromSearchPage": False,
                "maxReviews": 50,
                "scrapeReviewerName": True,
                "scrapeReviewerId": False,
                "scrapeReviewerUrl": True,
                "scrapeReviewId": True,
                "scrapeReviewUrl": True,
                "scrapeResponseFromOwnerText": False,
                "oneReviewPerRow": False,
                "reviewsSort": "newest",
                "allPlacesNoSearchAction": ""
                }
    # print("Before client.actor")
    run = client.actor(
        "compass/crawler-google-places").call(run_input=input_data)
    # print("After client.actor")
    dataset = client.dataset(run['defaultDatasetId'])
    hotels = dataset.list_items().items
    file_path = "data/raw_data.json"
    with open(file_path, "w") as json_file:
        json.dump(hotels, json_file)
    return hotels

In [9]:
cities = [ "hotels and resorts in Cape Coast, Ghana",
            "hotels and resorts in West Region, Ghana",
            "hotels and resorts in Volta Region, Ghana",
            "hotels and resorts in Accra"]

In [10]:
# collect_data(cities)

In [11]:
metric_cols = ["title", "city", "location", "countryCode", "placeId", "reviewsCount", "totalScore", "hotelStars", "additionalInfo", "price" , "categoryName"]
amenities = [""]
review_cols =["placeId", "reviews"]
review_details = ["publishedAtDate", "text", "stars"]
info_cols = ["placeId", "title", "phone", "imageUrls", "website", "additionalInfo"]

In [12]:
# metrics_data =[]
# reviews_data = []
# info_data = []
file_path = "../data/hotels-data.json"

def fill_metrics(col_list):
    with open(file_path,  encoding="utf-8") as json_file:
        json_text = json.load(json_file)
        metrics_data ={}
        for col in col_list:
            col_data = [item[col] for item in json_text]
            metrics_data[col] = col_data

    return metrics_data

In [13]:
metrics_data = fill_metrics(metric_cols)

In [14]:
metrics_table = pd.DataFrame(metrics_data)
metrics_table.head()

,title,city,location,countryCode,placeId,reviewsCount,totalScore,hotelStars,additionalInfo,price,categoryName
0,Jonat Hotel,Cape Coast,"{'lat': 5.1326868, 'lng': -1.2707224}",GH,ChIJhd6ATRj_3Q8R7nqmtm6INVI,6,4.7,None,{},None,Hotel
1,Drowaa Plus Hotel Annex,Cape Coast,"{'lat': 5.1187098, 'lng': -1.256577}",GH,ChIJU9N0DWz_3Q8Rg0eDgnarV8Y,12,4.2,None,{},None,Hotel
2,Sanna Lodge,Cape Coast,"{'lat': 5.1036076, 'lng': -1.2703398}",GH,ChIJA0RtJd7-3Q8Rp9cBaQMA_9o,10,3.6,None,{'Amenities': [{'Kid-friendly': True}]},None,Lodge
3,Fantas Folly,Takoradi,"{'lat': 4.8294648, 'lng': -1.8985344}",GH,ChIJA2dVyhKc5w8RzaeO_CSow8E,145,4.3,None,{'Amenities': [{'Kid-friendly': True}]},None,Hotel
4,Ankobra Bridge Hotel and Resort,Asanta,"{'lat': 4.901078, 'lng': -2.2673678}",GH,ChIJL7Hywp7x5w8RFvPm-57fTwc,44,4.4,None,{},None,Hotel

In [15]:

def fill_reviews():
    with open(file_path,  encoding="utf-8") as json_file:
        data = json.load(json_file)
    reviews_data = []
    for item in data:
        for review in item['reviews']:
            extracted_data = {
                'hotel_id': item['placeId'],
                'date': review['publishedAtDate'],
                'rating': review['stars'],
                'comment': review['text']
                # Add more key-value pairs as needed
            }
            reviews_data.append(extracted_data)

    df = pd.DataFrame(reviews_data)
    return df

In [16]:
reviews_table = fill_reviews()

In [17]:
reviews_table.head()

,hotel_id,date,rating,comment
0,ChIJhd6ATRj_3Q8R7nqmtm6INVI,2023-05-01T08:53:17.543Z,4.0,None
1,ChIJhd6ATRj_3Q8R7nqmtm6INVI,2023-02-10T09:25:21.640Z,5.0,I had a wonderful experience at Jonat Hotel. T...
2,ChIJhd6ATRj_3Q8R7nqmtm6INVI,2023-01-23T16:02:18.862Z,5.0,I enjoyed my stay here. For a serene environme...
3,ChIJhd6ATRj_3Q8R7nqmtm6INVI,2023-01-23T07:27:23.598Z,5.0,"The couple of times I have been there, were ve..."
4,ChIJhd6ATRj_3Q8R7nqmtm6INVI,2023-01-23T06:19:51.128Z,5.0,Everything there was nice and super clean 👍👍👍

In [18]:
reviews_table.to_csv('../data/raw_reviews.csv')

In [19]:
info_table = fill_metrics(info_cols)

In [21]:
info_table = pd.DataFrame(info_table)

In [22]:
info_table.head()

,placeId,title,phone,imageUrls,website,additionalInfo
0,ChIJhd6ATRj_3Q8R7nqmtm6INVI,Jonat Hotel,+233 20 421 7037,[https://lh5.googleusercontent.com/p/AF1QipO-l...,None,{}
1,ChIJU9N0DWz_3Q8Rg0eDgnarV8Y,Drowaa Plus Hotel Annex,+233 50 009 6604,[https://lh5.googleusercontent.com/p/AF1QipO_T...,https://drowaa-plus-hotel-annex.business.site/...,{}
2,ChIJA0RtJd7-3Q8Rp9cBaQMA_9o,Sanna Lodge,None,[https://lh5.googleusercontent.com/p/AF1QipPP0...,None,{'Amenities': [{'Kid-friendly': True}]}
3,ChIJA2dVyhKc5w8RzaeO_CSow8E,Fantas Folly,+233 24 321 3677,[https://lh5.googleusercontent.com/p/AF1QipPOh...,http://www.fantasfolly.com/,{'Amenities': [{'Kid-friendly': True}]}
4,ChIJL7Hywp7x5w8RFvPm-57fTwc,Ankobra Bridge Hotel and Resort,+233 33 209 7319,[https://lh5.googleusercontent.com/p/AF1QipNk0...,https://ankobrabridgehotelandresort.com/,{}